<section class="w-full max-w-700px h-auto min-h-[100vh] flex flex-col items-center">
  <div class="app-container w-[90%] h-auto min-h-[60vh] border-2 border-gray-500 max-w-[600px] mx-auto px-4 py-5 mt-6">
    <div class="flex justify-center items-center gap-2 w-full">
      <span class="text-3xl text-white font-semibold">&lt;</span>
      <div class="relative w-[52px] h-[52px] overflow-hidden rounded-md">

        <iframe src="https://giphy.com/embed/NmpauqzIjOIw0SMpvC" width="60" height="60" frameBorder="0"
          class="giphy-embed" allowFullScreen></iframe>




        <div class="absolute top-0 right-0 left-0 bottom-0"></div>
      </div>
      <h1 class="text-3xl text-white font-semibold">MyWish</h1>
      <span class="text-3xl text-white font-semibold">/&gt;</span>
    </div>
    <add-wish-form (addwish)="item.push($event)"></add-wish-form>
    <wish-filter (filter)="filter=$event"></wish-filter>
    <wish-list [item]="visibleitems"></wish-list>
  </div>

</section>